@import url('reset.css');

/* !Global */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #161616;
}

a {
	color: inherit;
	text-decoration: none;
}


header li:hover {
  background: #9DC783;
}

header a {
  display: block;
}

main a:hover {
  background: #9DC783;
  border-radius: 6px;
}

main a:hover div {
  background: #9DC783;
}

h1, h2 {
  font-family: 'Architects Daughter', cursive;
  font-weight: 400;
}

h1 {
  font-size: 62px;
  margin-bottom: 41px;
}

h2 {
  font-size: 32px;
  /* padding: 0 0 50px; */
  margin: 0 0 50px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}

/* Header */

.header {
  background: #81A36B;
  padding: 25px 0;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 30px;

}

/* Main */

/* section 1 */

.section-1 {
  background: #D8D8D6;
  padding: 0 0 120px;
  overflow: hidden;
}

.section-1-block {
	display: flex;
	align-items: center;
	gap: 30px;
}
.section-1-desc {
	flex: 1 1 30%;
}
.section-1-desc h1 {
	font-weight: 500;
	font-size: 62px;
}
.section-1-desc p {
  line-height: 30px;
  text-align: justify;
	margin-bottom: 20px;
}
.section-1-desc + img {
	flex: 1 1 30%;
}
.desc-buttons {
  display: flex;
  gap: 25px;
}

.button-1, .button-2 {
  padding: 18px 34px 21px;
  border-radius: 6px;
}

.button-1 {
  background: #81A36B;
}

.button-2 {
  background: inherit;
  border: 1px solid #81A36B;
}

/* section 2 */

.section-2 {
  background: #D8D8D6;
  padding: 0 0 120px;
  text-align: center;
}

.section-2-block {
  display: flex;
  justify-content: center;
}

.section-2-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 540px;
}

.section-2-content p {
  line-height: 30px;
}

/* section 3 */

.section-3 {
  background: #81A36B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 22px;
  padding: 78px 0;
}

.cards-list {
	display: flex;
	justify-content: space-between;
}

.cards-list li {
	padding-top: 100px;
	background-image: url('../img/prices.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.cards-list li:nth-child(2) {
	background-image: url('../img/selection.png');
}
.cards-list li:nth-child(3) {
	background-image: url('../img/delivery.png');
}
.cards-list li:nth-child(4) {
	background-image: url('../img/fresh.png');
}
.cards-list li:nth-child(5) {
	background-image: url('../img/bonus.png');
}

/* section 4 */

.section-4 {
  background: #D8D8D6;
  padding: 120px 0 120px;
}

.section-4-block {
  display: flex;
  gap: 30px;
}

.section-4-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  max-width: 540px;
}

.section-4 p {
  line-height: 30px;
}

.section-4-desc h2 {
  text-align: center;
}

.section-4-card img {
  width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Section 5 */

.section-5 {
  background: #D8D8D6;
  padding: 0 0 120px;
}

.section-5 h2 {
  text-align: center;
}

.section-5-block {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-5-card {
  width: 350px;
  height: 510px;
  background: #81A36B;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

.section-5-card img {
  height: 402px;
  width: 100%;
  object-fit: cover;
  margin: 0 0 23px;
  border-radius: 6px;
  overflow: hidden;
}

/* footer */

.footer {
  background: #81A36B;
  padding: 50px 0;
  text-align: center;
}

.footer h2 {
  font-size: 36px;
  margin: 0 0 25px;
}

.contact-box p {
  padding: 0 0 15px;
}

.contact-box a {
  display: block;
  padding: 0 0 15px;
}

.contact-box h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}

.last-paragraph {
  font-size: 16px;
  font-weight: 500;
}

.footer-list {
	display: flex;
	justify-content: center;
	gap: 24px;
  padding: 0 0 15px;
}

/* !Adaptive */

@media (max-width: 1139px) {

  /* Section 5 */

  .section-5-block {
    flex-wrap: wrap;
  }

  .section-5-card {
    width: 30vw;
    height: 30vw;
    position: relative;
    padding: 5px;
  }

  .section-5-card img {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    object-fit: cover;
  }

  .section-5-card p {
    position: relative;
    z-index: 5;
  }
}

@media (max-width: 1000px) {

  body {
    font-size: 16px;
    line-height: 1.2;
  }

  .header-list {
    gap: 20px;
  }

  h2 {
    margin: 0 0 20px;
    font-size: 28px;
  }

  /* section-1 */

  .section-1 {
    position: relative;
    padding: 20px 0 40px;
    
  }

  .section-1-block {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0;
  }
  
  .section-1-desc {
    max-width: 450px;
    position: relative;
    z-index: 5;
  }

  .section-1-desc p {
    line-height: 1.2;
  }

  .section-1-desc h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .section-1-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9) blur(6px);
  }

  .desc-buttons {
    justify-content: center;
  }

  .button-2 {
    background: rgba(216, 216, 214, 0.3);
  }

  /* section-2 */

  .section-2 {
    padding: 30px 0;
  }

  .section-2-block {
    max-width: 450px;
  }

  .section-2-content p {
    line-height: 1.2;
  }

  /* section-3 */

  .section-3 {
    padding: 50px 10px;
  }

  .cards-list {
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards-list li {
    padding-top: 55px;
    background-size: auto 50px;
    text-align: center;
  }  

  /* section-4 */

  .section-4 {
    position: relative;
    overflow: auto;
    padding: 30px 0;
  }

  .section-4-block {
    justify-content: center;
    gap: 0;
  }

  .section-4-desc {
    position: relative;
    z-index: 5;
    border-radius: 20px;
    padding: 0 5px;
    max-width: 450px;
    
  }

  .section-4-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.6) blur(6px);
  }

  .section-4 p {
    line-height: 1.2;
  }

  /* .section-5 */

  .section-5 {
    padding: 30px 0;
  }

  .section-5-block {
    gap: 20px;
  }

  /* footer */

  .footer {
    padding: 30px 0;
  }

  .footer h2 {
    font-size: 28px;
    margin: 0 0 15px;
  }

  .contact-box p {
    padding: 0 0 15px;
  }

  .contact-box h3 {
    padding-bottom: 10px;
  }

  .contact-box a {
    display: block;
    padding: 0 0 5px;
  }

  .footer h3 {
    font-size: 20px;
  }

}

@media (max-width: 768px) {

  /* Header */

  .header-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .header-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-list li {
    flex-basis: 45%;
    text-align: center;
    border: 1px solid black;
  }

  /* section 5 */

  .section-5-block {
    gap: 30px;
  }

  .section-5-card {
    width: 80vw;
    height: 30vw;
    position: relative;
    padding: 5px;
  }

}

@media (max-width: 600px) {

  body  {
    font-size: 14px;
  }

   /* section-1 */

  .desc-buttons {
    flex-flow: column;
  }

  /* footer */

  .last-paragraph {
    font-size: 14px;
  }
}

@media (max-width: 425px)  {

  /* Header */

  .header-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-list li {
    flex-basis: 90%;
    text-align: center;
    border: 1px solid black;
  }

   /* section-3 */

  .cards-list {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

}